<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registro de eventos</title>

    <!-- Estilos y fuentes del template  -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href=" {% static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navegación -->
   <!doctype html>
<html lang="es">

<head>
    <title>CORCIPTI | eventos tecnologicos.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="">

    <!-- Carga del CSS de Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Carga del CSS de Font Awesome -->
    <link rel="stylesheet" href="css/all.css">
    <style>
        .row>*{
       /* border: 1px solid red; */
    }
    </style>


</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <section class=""></section>

                <div class="clas "></div>


                <form action="" class="bg-light my-3 p-3 border rounded">
                    <h2 class="mb-4">REGISTRO DE EVENTOS</h2>

                    <div class="form-row mb-4">

                        <h4 class="col-12 text-info mb-3">
                            <span class="fa-stack h5 mb-0">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                            </span>
                            Información personal
                        </h4>

                        <div class="form-group col-12 col-sm-6">
                            <label for="nombre">Nombre:</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Ejem: Freddy Jorman...">
                        </div>

                        <div class="form-group col-12 col-sm-6">
                            <label for="apellidos">Apellidos:</label>
                            <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Ejem: Maquilon Palacios...">
                        </div>

                        <div class="form-group col-12 col-sm-6">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Ejem: jormanmaquilon226@gmail.com...">
                        </div>

                        <div class="form-group col-12 col-sm-6">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" name="telefono" id="telefono" class="form-control" placeholder="Ejem: 0981842320">
                        </div>
                    </div>

                    <div class="form-row mb-4">

                        <h4 class="col-12 text-info  mb-3">
                            <span class="fa-stack h5 mb-0">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                            </span>
                            Dirección del evento
                        </h4>
                        <div class="form-group col-12">
                            <label for="direccion">Dirección:</label>
                            <input type="text" name="direccion" id="direccion" class="form-control" placeholder="av. Las Americas...">
                        </div>

                        <div class="form-group col-6 col-sm-4">
                            <label for="ciudad">Ciudad:</label>
                            <input type="text" name="ciudad" id="ciudad" class="form-control" placeholder="Ejem: Guayaquil">
                        </div>

                    <div class="form-row mb-4">

                        <h4 class="col-12 text-info  mb-3">
                            <span class="fa-stack h5 mb-0">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
                            </span>
                            Fecha del evento
                        </h4>

                        <div class="col-12 col-md-6">

                            <div class="form-row">

                                <div class="form-group col-12 col-sm-6 col-md-12">
                                    <label for="fecha-evento">Fecha del evento:</label>
                                    <input type="text" name="fecha-evento" id="fecha-evento" class="form-control"
                                        placeholder="Ejem: 19/09/2020">
                                </div>

                                <div class="form-group col-12 col-sm-6 col-md-12">

                                    <label for="hora-evento">Hora del evento:</label>
                                    <input type="text" name="hora-evento" id="hora-evento" class="form-control"
                                        placeholder="Ejem: 5pm">

                                </div>

                                <div class="form-group">
                                    <label for="asunto"> prioridad: </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                                        </div>

                                        <select name="asunto" id="asunto"  class="form-control">
                                            <option selected>seleccione una prioridad</option>
                                            <option value="soporte">baja</option>
                                            <option value="ventas">media</option>
                                            <option value="quejas">alta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                        <div class="form-row" style="width:100%; height:100%">
                            <div class="col-auto col-md-auto">
                                <button type="submit" class="btn btn-primary btn-block mb-12">
                                    <i class="fas fa-location-arrow pr-1"></i>Registrar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Carga de "Jquery" -->
    <script src="js/jquery-3.3.1.min.js"></script>

    <!-- Carga de "Popper" -->
    <script src="js/popper.min.js"></script>

    <!-- Carga de "Bootstrap" -->
    <script src="js/bootstrap.min.js" class="jus"></script>

</body>

</html>

    <!-- Contenido -->
    {% block content %} } {% endblock%}
    <!-- Pié de página -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; 2020 · Freddy Maquilon (Desarrollador de Software) </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap y Javascripts -->
    {% load static %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/clean-blog.min.js'%}"></script>

  </body>

</html>
